/* 
.v-app-bar-title__placeholder { 
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri','Trebuchet MS', sans-serif;} */
/*  swal2-html-container */

/* PERSONALIZAR  Swal.mixin */
  
  .colored-toast.swal2-icon-success {
    background-color: #009688 !important;
  }
  
  .colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
  }
  
  .colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
  }
  
  .colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
  }
  
  .colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
  }
  
  .colored-toast .swal2-title {
    color: white;
  }
  
  .colored-toast .swal2-close {
    color: white;
  }
  
  .colored-toast .swal2-html-container {
    color: white;
  }
  

  .btnDownload {
    background-color: transparent;
    padding: 8px;
    border-radius: 5px;
    color: #009688!important;
    font-weight: 500;
    cursor: pointer!important;
    min-width: 64px;
  }
  .btnDownload:hover {
    background-color: #ebf7f6!important;
  }


  .v-toolbar--prominent {
    height: auto !important;
  }
  .v-toolbar__content {
    height: auto !important;
  }